html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.border-light{
    border:1px solid black;
}

.user-post {
    border: 5px solid black;
}
.page-block{
    border:2px double red;
    background-color:antiquewhite;
}
.one-row{
    max-height:300px;
    max-width:800px;
    display:flex;
    flex-direction:row;
}
.one-row img {
    max-height:60%;
    max-width:60%;
    width:200px;
    height:200px;
}

@media (min-width: 768px) {
    .right-side {
        position: absolute;
        right: 40%;
        top: 10%;
    }
}

.side-table {
    min-width: 70px;
    max-width: 95vw;
    border: 2px solid black;
    font-size: 18px;
    background-color: grey;
}

@media (min-width:320px)
{
    .side-table
    {
        min-width:75px;
    }
}

@media (min-width:480px)
{
    .side-table {
        border: 3px solid black;
        margin-bottom: 5px;
    }
}

@media (min-width:600px)
{
    .side-table {
        max-width:90vw;
    }
}

@media (min-width:801px)
{
    .side-table {
        font-size: 20px;
    }
}

@media (min-width:1025px) {
    .side-table {
        min-width:10vw;
    }
}

@media (min-width:1281px) {
    .user-post {
        position: relative;
        max-width: 85vw;
    }
    .side-table {
        position: fixed;
        top: 100px;
        left: 30px;
    }
}

@media (min-width:1430px)
{
    @media (max-width:1600px)
    {
        .user-post{
            width:90%;
            left:8%;
        }
        .side-table{
            top:150px;
        }
    }
}

@media (max-width:1281px)
{
    .side-table {
        width: 100%;
        padding-bottom: 10px;
        text-align: center;
    }
}

.side-table *
{
    padding-right:5px;
    padding-left:4px;
}
.side-table td
{
    min-width:85px;
    width:fit-content;
    background-color:lightgrey;
    border-top:1px solid black;
    font-size:90%;
}
.side-table td:hover {
    background-color: aliceblue;
    cursor: pointer;
}